<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as choice">
    <div class="row">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="choice.searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="choice.getMatchedMenuItems();">Narrow It Down For Me!</button>
      </div>
    </div>
   <div class="row">
      <ol>
        <found-items ng-repeat="item in choice.items"></found-items>
      </ol>
    <div ng-show="!items.length">Error: {{choice.errorMessage}}</div>
   </div>
  </div>

</body>
</html>
